<!-- Page logic modified from the I Think Therefore I Blog template -->
<!-- Layout code modified from https://getbootstrap.com/docs/5.0/examples/blog/ -->

{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <article class="blog-post">
            <!-- Post title. -->
            <h1 class="blog-post-title">{{ recipe.title }}</h1>
            <!-- Post details. -->
            <p class="blog-post-meta">Posted by {{ recipe.author }} on {{ recipe.created_on }}</p>
            <!-- Image, depending on if one is uploaded. -->
            {% if "placeholder" in recipe.featured_image.url %}
            <img src="https://res.cloudinary.com/robincloud/image/upload/v1655464161/placeholder_tlebqt.png" class="recipe-page-image">
            {% else %}
            <img src=" {{ recipe.featured_image.url }}" class="recipe-page-image">
            {% endif %}
            <!-- Content of the recipe. -->
            {{ recipe.content | safe }}
            <div class="row">
                <!-- Likes -->
                <div class="col-1">
                    <strong>
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'recipe_likes' recipe.slug %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}
                            <button type="submit" name="recipepost_id" value="{{recipe.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                            {% else %}
                            <button type="submit" name="recipepost_id" value="{{recipe.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                            {% endif %}
                        </form>
                        {% else %}
                        <span class="text-secondary"><i class="far fa-heart"></i></span>
                        {% endif %}
                        <span class="text-secondary">{{ recipe.number_of_likes }}</span>
                    </strong>
                </div>
                <!-- Number of comments -->
                <div class="col-1">
                    {% with comments.count as total_comments %}
                    <strong class="text-secondary"><i class="far fa-comments"></i>
                        {{ total_comments }}</strong>
                    {% endwith %}
                </div>
            </div>
        </article>
        <!-- Comments. Modified from I Think Therefore I Blog -->
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 ">
                <h3>Comments:</h3>
                <div class="card-body">
                    <!-- Iterate through each comment in comments. -->
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            <!-- The commenter's name. -->
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        <!-- Comment content -->
                        {{ comment.body | linebreaks }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 card mb-4  mt-3 ">
                <div class="card-body">
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}