{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="card-body">
            {% if user.is_authenticated %}
            <h3>Edit Your Recipe:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% else %}
            <p>You must be logged in to edit a recipe.</p>
            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}