{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="card-body">
            {% if user.is_authenticated %}
            <h3>Post a New Recipe:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                <!-- {{ recipe_form | crispy }} -->
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
            {% else %}
            <p>You must be logged in to post a new recipe.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}